<%= form_with(model: @article, local: true) do |form| %>
    <p>
        <%= form.label :title %> <br><br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :description %> <br><br>
        <%= form.text_area :description %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<%end%>

<%= link_to "Return to all articles", articles_path %>